* {
    box-sizing: border-box;
}

h1 {
    margin: 25px;
    border: 10%;
    padding: 10%;
}

body {
    display: block;
    margin: 5px;
    border: 25%;
    padding: 5%;
}


.wrapper {
    border: 1px solid blue;
}

.dropdown {
    position: relative;
    display: inline-block;
}

select {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.container input:checked .checkmark::before {
    display: block;
}

.language {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

